<form>
<span>Input nubers: </span><input type="text" name="numbers" id="numbers" autofocus/>
<button type="button" id="clear">clear</button>
</form>
<hr/>
<p>
	<span>Numbers: </span>{{numbers}}<br/>
	<span>Mean: </span>{{meanVal}}<br/>
	<span>Median: </span>{{medianVal}}<br/>
	<span>Mode: </span>{{modeVal}}<br/>
</p>